.row {
    height: 500px;
    display: flex;
    flex-direction: row;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.navbar-brand {
    margin: 30px;
}

.nav-item {
    color: white;
    margin: 30px;
}
